<?xml version ="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Go Rest Test Suite" verbose="1" parallel="tests"
	thread-count="3">

	<listeners>
		<listener class-name="com.qa.gorest.listeners.ExtentReportListener" />
		<listener class-name="com.qa.gorest.listeners.AllureReportListener"/>
	</listeners>

	<test name="Go Rest Regression Tests">

		<classes>
			<class name="com.qa.gorest.tests.GetUserTest" />
			<class name="com.qa.gorest.tests.GetImgurApiTest" />
		</classes>

	</test>
</suite>